doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(property='og:site_name', content='redditnewsletter')
        meta(property='og:type', content='website')
        link(rel='author', href='https://plus.google.com/+FilipWolanski/posts')
        meta(name="author", content="Filip Wolanski")

        title redditnewsletter
        meta(property='og:title', content='redditnewsletter')

        meta(property='og:description', content='Turn a subreddit into a newsletter')
        meta(name="description", content="Turn a subreddit into a newsletter")

        meta(name='viewport', content='width=device-width, initial-scale=1')

    body

        script(src="index.js")

