doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(property='og:site_name', content='redditnewsletter')
        meta(property='og:type', content='website')
        link(rel='author', href='https://plus.google.com/+FilipWolanski/posts')
        meta(name="author", content="Filip Wolanski")

        title redditnewsletter
        meta(property='og:title', content='redditnewsletter')
        link(rel="icon",type="image/png",href="/favicon.png")

        meta(property='og:description', content='Turn a subreddit into a newsletter')
        meta(name="description", content="Turn a subreddit into a newsletter")

        meta(name='viewport', content='width=device-width, initial-scale=1')

    body

        script(src="index.js")

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51418394-1', 'filipwolanski.com');
          ga('send', 'pageview');

